<section
  class="h-screen z-20 w-full bg-[#21201f] mx-auto justify-center flex relative items-center"
>
  <span
    id="front"
    class="text-transparent text-[3.5rem] sm:text-7xl md:leading-normal md:text-9xl lg:text-[9rem] xl:text-[11.7rem] mx-auto inline-block absolute translate-y-10 transition-all duration-1000 text-center lg:-translate-x-26 xl:-translate-x-28"
    >FRONTEND
  </span>
  <span
    id="dev"
    class="text-transparent leading-9 md:leading-normal sm:text-7xl text-[3.5rem] sm:m-0 md:text-9xl text-center lg:text-[9rem] xl:text-[11.7rem] lg:mx-auto transition-all duration-1000 translate-x-26"
    >DEVELOPER</span
  >
</section>
