<section
  class="flex z-20 relative flex-col px-3 sm:px-6 space-y-9 md:flex-row justify-around py-12 md:px-10 md:space-y-3"
>
  <div class="w-full md:w-1/2 flex-col flex space-y-3" data-aos="zoom-out-down">
    <h3 class="header">EMMANUEL ADEYEMO</h3>
    <p class="text-whitish text-xl sm:text-2xl exo" data-aos="zoom-out-down">
      I'm an enthusiastic Frontend/MEAN stack developer who enjoys thinking
      creatively and solving Problems I also have deep understanding of web
      technologies and design principles, as well as the ability to collaborate
      with designers and other team members to create functional and visually
      appealing websites.I stay up-to-date with the latest trends and
      advancements in the field aiming to learn new things and take up
      challenges.
    </p>
    <button class="bg-[#f8d47a] rounded-md w-fit px-4 md:px-6 py-2">
      ABOUT ME
    </button>
  </div>
  <div
    class="flex w-full justify-center items-center md:w-1/2"
    data-aos="fade-up"
    data-aos-anchor-placement="top-bottom"
  >
    <div class="flex-col w-full md:w-fit exo bg-[#21201f] rounded-lg p-10">
      <button
        (click)="downloadResume()"
        class="block w-full bg-blue-400 px-7 py-2 my-3 rounded-md"
      >
        <i class="fa-solid fa-download px-2 fa-bounce"></i>Resume
      </button>
      <a
        href="https://github.com/Damilarr"
        class="block text-center w-full bg-[#f8d47a] px-7 rounded-md py-2"
      >
        <i class="fa-brands fa-github" style="color: #000000"></i> GITHUB
      </a>
    </div>
  </div>
</section>
